<!DOCTYPE html>
<html lang="en">
<html lang ="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Title</title>
</head>
<body>
<a href="/">HOME</a>
    <h2>게시글 detail</h2>
    <div>
        <div>
            <label>번호 :</label>
            <span th:text="${bIdx.boardIdx}"></span>
        </div>
        <div>
            <label>작성자 :</label>
            <span th:text="${uName.name}"></span>
        </div>
        <div>
            <label>제목 :</label>
            <span th:text="${bIdx.title}"></span>
        </div>
        <div>
            <label>내용 :</label>
            <span th:text="${bIdx.content}"></span>
        </div>
        <div>
            <label>등록일 :</label>
            <span th:text="${bIdx.insertdate}"></span>
        </div>
    </div>
    <!--댓글 부분-->
    <div th:if="${cmtList ==null}">
        <p>댓글이 없음</p>
    </div>
    <a th:href='@{/board/modifyForm(bIdx = ${bIdx.boardIdx})}'>게시글 수정</a>
    <a th:href='@{/board/delete(bIdx = ${bIdx.boardIdx})}'>게시글 삭제</a>

    <div id="cmtList">
        <div th:each="cmt:${cmtList}">
            <div>
                <span> <!--th:onclick="|location.href='@{/cmt/detail(cIdx = ${cmt.getCmtIdx()})}'|"-->작성자 : [[${cmt.userIdx}]]</span>
                <span> <!--th:onclick="|location.href='@{/cmt/detail(cIdx = ${cmt.getCmtIdx()})}'|"-->내용 : [[${cmt.content}]]</span>
                <span> <!--th:onclick="|location.href='@{/cmt/detail(cIdx = ${cmt.getCmtIdx()})}'|"-->등록일 : [[${cmt.insertdate}]]</span>
                <button th:onclick="|location.href='@{/cmt/modifyForm(cIdx = ${cmt.getCmtIdx()})}'|">수정</button>
                <button th:onclick="|location.href='@{/cmt/cInsertForm(cIdx = ${cmt.getCmtIdx()})}'|">답글</button>
                <button th:onclick="|location.href='@{/cmt/delete(cIdx = ${cmt.getCmtIdx()})}'|">삭제</button>
                <span>[[${cmt.floor}]]</span>
            </div>
        </div>

    </div>
    <form name="readForm" action="/cmt/cmtInsert" method="post">
        <div hidden>
            <label>작성자</label>
            <input id="userIdx" name="userIdx" value=1 >
        </div>
        <div hidden>
            <label>게시판</label>
            <input id="boardIdx" name="boardIdx" th:value="${bIdx.boardIdx}">
        </div>
        <div>
            <label>댓글 작성</label>
            <textarea id="content" name="content" rows="3" cols="60"></textarea>
        </div>
        <div th:if="${maxGroup !=null}" hidden>
            <label>cmtgroup</label>
            <input type="text" id="cmtgroup" name="cmtgroup" th:value="${maxGroup}">
        </div>
        <!--    <div>
                <label>작성일</label>
                <input name="insertDate" readonly="readonly" th:value="${board.insertdate}">
            </div>-->

        <button id="insert_btn" type="submit">등록완료</button>
    </form>
<button type="button" onclick="location.href='/board/list'">돌아가기</button>
</body>
<script th:inline="javascript" type="text/javascript">
    $(document).ready(function (){
        const cInsertForm = $("form[name='readForm']");
        $("insert_btn").on("click", function (){
            cInsertForm.attr("action","/cmt/cmtInsert");
            cInsertForm.attr("method", "get");
            cInsertForm.submit();
        })
    })
</script>

</html>