<!DOCTYPE html>
<html lang ="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>게시글 수정</title>
</head>
<header th:insert="nav.html"></header>
<body>
<div class="container">
    <form name="readForm" action="/board/modify" method="post">
        <div hidden>
            <label for="boardIdx">글번호</label>
            <input id="boardIdx" name="boardIdx" readonly="readonly" th:value="${board.boardIdx}">
        </div>
        <div class="mb-3 row">
            <label for="writer">작성자</label>
            <input id="writer" name="writer" class="form-control-plaintext" readonly="readonly" th:value="${uName.name}">
        </div>
        <div class="mb-3 row">
            <label for="title">제목</label>
            <textarea id="title" name="title" class="form-control">[[${board.title}]]</textarea>
        </div>
        <div class="mb-3 row">
            <label for="content">내용</label>
            <textarea id="content" name="content" class="form-control">[[${board.content}]]</textarea>
        </div>
        <div class="mb-3 row">
            <label for="insertDate">작성일</label>
            <input id="insertDate" name="insertDate" readonly="readonly" class="form-control-plaintext" th:value="${board.insertdate}">
        </div>

        <button class="btn btn-outline-success" id="modify_btn" type="submit">수정완료</button>
        <button class="btn btn-outline-danger" type="button" th:onclick="|location.href='@{/board/detail(bIdx = ${bIdx})}'|">돌아가기</button>
    </form>
</div>
</body>
<script type="text/javascript">
    $(document).ready(function (){
        const modifyForm = $("form[name='readForm']");
        $("modify_btn").on("click", function (){
            modifyForm.attr("action","/board/modify");
            modifyForm.attr("method", "get");
            modifyForm.submit();
        })
    })
</script>
</html>