<!DOCTYPE html>
<html lang ="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>댓글 수정</title>
</head>
<header th:insert="nav.html"></header>
<body>
<div class="container">
    <form name="readForm" action="/cmt/modify" method="post">
        <div hidden>
            <label>댓글번호</label>
            <input id="cmtIdx" name="cmtIdx" readonly="readonly" th:value="${cmt.cmtIdx}">
        </div>
        <div hidden>
            <label>작성자</label>
            <input name="writer" readonly="readonly" th:value="${uName.name}">
        </div>
        <div class="mb-3 row">
            <label for="content" class="form-label">내용</label>
            <textarea id="content" name="content" class="form-control">[[${cmt.content}]]</textarea>
        </div>
        <div class="mb-3 row">
            <label for="insertDate" class="form-label">작성일</label>
            <input id="insertDate" name="insertDate" readonly="readonly" class="form-control-plaintext" th:value="${cmt.insertdate}">
        </div>

        <button class="btn btn-outline-success" id="modify_btn" type="submit">수정완료</button>
        <button class="btn btn-outline-danger" type="button" th:onclick="|location.href='@{/board/detail(bIdx = ${cmt.boardIdx})}'|">돌아가기</button>
    </form>
</div>
</body>
<script type="text/javascript">
    $(document).ready(function (){
        const modifyForm = $("form[name='readForm']");
        $("modify_btn").on("click", function (){
            modifyForm.attr("action","/cmt/modify");
            modifyForm.attr("method", "get");
            modifyForm.submit();
        })
    })
</script>
</html>